<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title data-locale="index"></title>
    <meta name="keywords" content="后台">
    <meta name="description" content="后台">

    <link rel="shortcut icon" href="../../favicon.ico">
    <link href="../../static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../../static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../../static/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="../../static/js/plugins/gritter/jquery.gritter.css">
    <link href="../../static/css/animate.min.css" rel="stylesheet">
    <link href="../../static/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="../../static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <style>
        .flot-chart {
            display: block;
            height: 400px;
        }
    </style>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 data-locale="device">今日注册数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="dayUser">0</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 data-locale="device">注册用户数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="totalUser">0</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 data-locale="device">在线用户数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="online">0</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 data-locale="device">应用上传总数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="upload">0</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 data-locale="user">应用下载总数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="download">0</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 data-locale="user">套餐累计金额</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="price">0</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 data-locale="device">24小时趋势图</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="flot-dashboard-chart">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 data-locale="user">套餐购买排行</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>套餐名称</th>
                                            <th>购买数量</th>
                                        </tr>
                                        </thead>
                                        <tbody class="buyTop">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 data-locale="user">应用下载排行</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>应用名称</th>
                                            <th>下载数</th>
                                        </tr>
                                        </thead>
                                        <tbody class="downTop">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 data-locale="user">事件流</h5>
                    </div>
                    <div class="ibox-content timeline eventTop">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/layer/layer.js"></script>
    <script src="../../static/layer/extend/layer.ext.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts.min.js"></script>
    <script src="../../static/js/plugins/toastr/toastr.min.js"></script>
    <script src="../../static/js/toastr.options.js"></script>
    <script src="../../static/js/jquery.cookie.js"></script>
    <script src="../../static/js/mapgoo.js"></script>


</body>

</html>
<script>
    $(function(){
        setTimeout(function(){
            layer.load(0, {shade: [0.6,'#000000']});
        },1);
        $.ajax({
            headers: {
                token: $.cookie('login_token')
            },
            url: WEBHTTP + "admin/statistics",
            type: "GET",
            dataType: "json",
            success: function(response) {
                if (response.error == 0) {
                    $("#dayUser").text(response.result.dayUser);
                    $("#download").text(response.result.download);
                    $("#online").text(response.result.online);
                    $("#price").text(response.result.price);
                    $("#totalUser").html(response.result.totalUser);
                    $("#upload").text(response.result.upload);
                    layer.closeAll(); //执行关闭
                } else if(response.error == 401){
                    toastr.error(response.reason);
                    setTimeout(function(){
                        $.cookie('login_token', '', {path: '/', expires: -1});
                        $.cookie('login_account', '', {path: '/', expires: -1});
                        parent.parent.location.href = "../../index.html"
                    },500);
                }else {
                    toastr.error(response.reason);
                    setTimeout(function(){
                        layer.closeAll(); //执行关闭
                    },2000);
                }
            }
        });

        $.ajax({
            headers: {
                token: $.cookie('login_token')
            },
            url: WEBHTTP + "admin/chart",
            type: "GET",
            dataType: "json",
            success: function(response) {
                if (response.error == 0) {
                    var option = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#283b56'
                                }
                            }
                        },
                        legend: {
                            data:['注册数', 'app上传数', 'app下载数', '套餐购买情况']
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: response.result.time
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                scale: true,
                                name: '数量'
                            }, {
                                name: '价格',
                                type: 'value',
                                scale: true,
                            }
                        ],
                        grid: {
                            left: '1%',
                            right: '1%',
                            bottom: '1%',
                            containLabel: true
                        },
                        series: [
                            {
                                name:'注册数',
                                type:'line',
                                data: response.result.user
                            },
                            {
                                name:'app上传数',
                                type:'line',
                                data: response.result.upload
                            },
                            {
                                name:'app下载数',
                                type:'line',
                                data: response.result.download
                            }
                            ,
                            {
                                name:'套餐购买情况',
                                type:'line',
                                yAxisIndex: 1,
                                data: response.result.price
                            }
                        ]
                    };
                    var e = echarts.init(document.getElementById('flot-dashboard-chart'));
                    e.setOption(option);
                    $(window).resize(e.resize);
                } else if(response.error == 401){
                    toastr.error(response.reason);
                    setTimeout(function(){
                        $.cookie('login_token', '', {path: '/', expires: -1});
                        $.cookie('login_account', '', {path: '/', expires: -1});
                        parent.parent.location.href = "../../index.html"
                    },500);
                }else {
                    toastr.error(response.reason);
                }
            }
        });


        $.ajax({
            headers: {
                token: $.cookie('login_token')
            },
            url: WEBHTTP + "admin/buyTop",
            type: "GET",
            dataType: "json",
            success: function(response) {
                if (response.error == 0) {
                    var html = '';
                    $.each(response.result, function(k, v){
                        html +="<tr>" +
                            "<td> "+v.packageName+" </td>" +
                            "<td> "+v.total+" </td>" +
                            "</tr>"
                    })
                    $(".buyTop").html(html);
                } else if(response.error == 401){
                    toastr.error(response.reason);
                    setTimeout(function(){
                        $.cookie('login_token', '', {path: '/', expires: -1});
                        $.cookie('login_account', '', {path: '/', expires: -1});
                        parent.parent.location.href = "../../index.html"
                    },500);
                }else {
                    toastr.error(response.reason);
                }
            }
        });

        $.ajax({
            headers: {
                token: $.cookie('login_token')
            },
            url: WEBHTTP + "admin/downTop",
            type: "GET",
            dataType: "json",
            success: function(response) {
                if (response.error == 0) {
                    var html = '';
                    $.each(response.result, function(k, v){
                        html +="<tr>" +
                            "<td> "+v.appName+" </td>" +
                            "<td> "+v.total+" </td>" +
                            "</tr>"
                    })
                    $(".downTop").html(html);
                } else if(response.error == 401){
                    toastr.error(response.reason);
                    setTimeout(function(){
                        $.cookie('login_token', '', {path: '/', expires: -1});
                        $.cookie('login_account', '', {path: '/', expires: -1});
                        parent.parent.location.href = "../../index.html"
                    },500);
                }else {
                    toastr.error(response.reason);
                }
            }
        });

        $.ajax({
            headers: {
                token: $.cookie('login_token')
            },
            url: WEBHTTP + "admin/eventTop",
            type: "GET",
            dataType: "json",
            success: function(response) {
                if (response.error == 0) {
                    var html = '';
                    $.each(response.result, function(k, v){
                        html += '<div class="timeline-item">' +
                            '                            <div class="row">' +
                            '                            <div class="col-xs-3 date">' +
                            '                            <i class="fa fa-file-text"></i>' +
                            '                            <small class="text-navy">'+v.format+'</small>' +
                            '                        </div>' +
                            '                        <div class="col-xs-7 content" style="min-height: 88px;">' +
                            '                            <p style="color: #777777;">'+v.createTime+'</p>' +
                            '                        <p class="m-b-xs"><strong><a href="javascript:;" data-id="'+v.uid+'" class="userInfo">'+v.email+'</a> 上传了一个应用：'+v.appName+'</strong></p>' +
                            '                        </div>' +
                            '                        </div>' +
                            '                        </div>'
                    })
                    $(".eventTop").html(html);
                } else if(response.error == 401){
                    toastr.error(response.reason);
                    setTimeout(function(){
                        $.cookie('login_token', '', {path: '/', expires: -1});
                        $.cookie('login_account', '', {path: '/', expires: -1});
                        parent.parent.location.href = "../../index.html"
                    },500);
                }else {
                    toastr.error(response.reason);
                }
            }
        });
    })
    var userId = 0;
    $(document).on("click",".userInfo",function() {
        userId = $(this).attr("data-id");
        layer.open({
            type: 2,
            title: "用户详情",
            shadeClose: true,
            area: ['60%', '563px'],
            shade: 0.8,
            content: "userInfo.html"
        });
    });
</script>